@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>Hello! I'm a passionate software developer specializing in C# and .NET technologies. 
       <p>I enjoy solving problems, building scalable applications, and continuously learning new technologies. My expertise includes backend development, database management, and web development.</p>
    <p>My goal is to create efficient, high-quality software solutions that make a difference. When I'm not coding, I explore new tech trends, contribute to open-source projects, and enhance my skills in software architecture.</p>
</div>
