@page
@{
    ViewData["Title"] = "Projects";
}

<section>
    <h2>My Projects</h2>
    <ul>
        <li><strong>Portfolio Website</strong> - A simple personal portfolio site using .NET Razor Pages.</li>
        <li><strong>Bilgisayar Magazasi Sistemi</strong> - A .NET 8 and SQL Server-based store management system.</li>
        <li><strong>Problem Solving</strong>- A problem solving repository which contains problems.</li>
        <li><strong>CSharp Fundamentals</strong>C# Fundamentals</li>
        <li><strong>For more, visit </strong><a href="https://github.com/byte-coderr005?tab=repositories" target="_blank">my GitHub repositories</a></li>
    </ul>
</section>
